@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.woff2') format('woff2'),
      url('../font/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.woff2') format('woff2'),
      url('../font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Medium.woff2') format('woff2'),
      url('../font/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*{
  scroll-behavior: smooth;
  box-sizing: border-box;

}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
 overflow-x: hidden;
}

img{
  vertical-align: middle;
  object-fit: cover; 
}

.container{
  width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----------------------------------------HEADER--------------------------------------- */

.header{
  padding-top: 40px;
  padding-bottom: 40px;
background-image: url("../img/Rectangle-bgi.png");
background-repeat: no-repeat;
background-size: 100%;
background-color: #f3d7b7;
background-blend-mode: overlay;
}

.header__inner{
  display: flex;
  align-items: center;
}

.header__logo__link{
text-decoration: none;
}

.header__logo__img{
width: 235px;
height: 24px;
}

.menu{
  margin-left: auto;
}

.menu__list{
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.menu__item{
  margin-left: 40px;
}

.menu__item__link{
  text-decoration: none;
  font-weight: 700;
font-size: 12px;
line-height: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: #333333;
}

.menu__item__link--active{
  margin-left: 0;
}

/* -------------------------------------------HEADER------------------------------------- */


/* ---------------------------------------HERO------------------------------- */


.hero{
  position: relative;
  padding-bottom: 249px;
  padding-top: 116px;
  background-image: url("../img/background-cube.png"), url("../img/Rectangle-bgi.png");
background-repeat: no-repeat;
background-size: 710px 696px, 100%;
background-color: #f3d7b7;
background-blend-mode: normal, overlay;
background-position: calc(50% + 404px) bottom, center;


&::before{
  position: absolute;
    top:calc(50% - 425px);
    left:calc(50% - 45px);
    background-repeat: no-repeat;
    z-index: 100;
    width: 223px;
    height: 223px;
    overflow: hidden;
    content: "";
  background-image: url("../img/logotip-coffee.png");
}
}

.hero__inner{
  margin-left: 100px;
  width: 464px;
}

.hero__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  margin: 0;
  margin-bottom: 24px;
}

.hero__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 50px;
}

.hero__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
background: #0A775F;
border-radius: 100px;
text-decoration: none;
padding: 16px 24px;
transition: all 0.2s ease;
border: 2px solid transparent;


&:hover{
  background-color: #FFFFFF;
  color: #0A775F;
  border-color:#0A775F ;
}
}

/* -----------------------------------------HERO----------------------------------------- */

/* -------------------------------------------COLLECTION------------------------------------ */

.collection {
  position: relative;


&::before{
  position: absolute;
    top:calc(50% - 120px);
    left:calc(50% - 875px);
    background-repeat: no-repeat;
    z-index: 100;
    width: 402px;
    height: 300px;
    overflow: hidden;
background-image: url("../img/leaves-top.png");
content: "";
}

&::after{
  position: absolute;
  top:calc(50% - 650px);
  left:calc(50% + 628px);
  background-repeat: no-repeat;
  z-index: 100;
  width: 432px;
  height: 300px;
  overflow: hidden;
background-image: url("../img/leaves-right.png");
content: "";
}
}

.collection__wrapper__box{
  padding: 20px;
 
}

.collection__box{
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: #F6F6EE;
  background-image: url("../img/background-main.png");
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: 1440px 2127px;


}



.collection__left{
width: 250px;
}

.collection__left__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.collection__left__item{
  font-weight: 500;
font-size: 28px;
line-height: 33px;
font-variant: small-caps;
color: #555555;
margin-bottom: 35px;
}

.collection__left__item--active{
  color: #000;
  font-weight: 700;
  display: block;
  margin: 0;
}

.collection__inner {
padding-top: 50px;
padding-bottom: 50px;
display: flex;
justify-content: space-between;
}

.collection__right{
width: 660px;
margin-right: 84px;
}


form{
 
}

.collection__box1{
  width: 100%;
  max-width: 660px;
display: flex;
align-items: center;
margin-bottom: 20px;

}



.collection__heading {
  font-weight: 700;
font-size: 40px;
line-height: 47px;
margin: 0;

font-variant: small-caps;
margin-right: 55px;

}

.collection__box1__button{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.collection__btn__img{
  width: 18px;
  height: 11px;
}

.collection__box1__content{
transition: all 2s ease;
margin-bottom: 60px;
}



.collection__box1__content--open{
 display: block;
 height: 250px;
}

.label{

}

.label + .label{
  margin-left: 12px;
}



.input__controller__heading{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
font-size: 24px;

line-height: 28px;
font-variant: small-caps;
color: #333333;
}

.input__controller__text{
  margin: 0;
  font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #333333;
}

.input__controller{
  display: inline-block;
  width: 208px;
  border-radius: 5px;
  padding-top: 30px;
padding-bottom: 80px;
padding-right: 12px;
padding-left: 16px;
background: #C6DBD0;
}


.input:disabled ~ .input__controller{
 color: #fff;
}

.input:focus ~ .input__controller{
  background-color: #0A775F;

}



.collection__box2{
  width: 100%;
  max-width: 660px;
display: flex;
align-items: center;
}

.collection__box2__button{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}


.collection__box2__content{
  transition: all 5s ease;
  display: none;
  // width: 660px;
  height: 0px;
  overflow: hidden;
}

.collection__box2__content--open{
 display: block;
 height: 250px;
}



.conclusion{
  width: 660px;
background: #C99B67;
padding-top: 40px;
padding-right: 22px;
padding-bottom: 40px;
padding-left: 20px;
margin-bottom: 20px;
}


.conclusion__span{
  font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
color: #FFFFFF;
margin: 0;

}

.conclusion__text{
  font-weight: 500;
font-size: 24px;
line-height: 34px;
color: #FFFFFF;
margin: 0;
margin-top: 14px;
}

.conclusion__spanjon{
  color: #000;
}



.collection__submit__button{
  font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 1px;
font-variant: small-caps;
color: #FFFFFF;
width: 175px;
background: #0A775F;
border-radius: 100px;
border: none;
padding: 16px 24px;

}

.collection__botton{
  text-align: end;
}

/* ----------------------------------------COLLECTION-------------------------------------- */






.works {

}


.works__wrapper__box{
  width: 1440px;
  margin-right: auto;
margin-left: auto;
padding: 20px;
}


.works__box {
  padding-top: 80px;
  padding-bottom: 50px;
width: 1400px;
background-image:url("../img/background-line.png"),  url("../img/background-main.png");
background-repeat: no-repeat;
background-size: 899px 3px, 100%;
margin-right: auto;
margin-left: auto;
background-color:  #0A775F;
background-blend-mode: overlay normal;
background-position: calc(50% - 180px) calc(50% - 170px), center;
}


.works__inner {

}


.span__square__box{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.works__span__square{
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 4px solid #C99B67;
}

.works__span__square + .works__span__square{
  margin-left: 400px;
}


.works__list {
list-style-type: none;
display: flex;
align-items: center;
margin: 0;
padding-left: 0;
justify-content: space-between;
}

.works__item {
width: 424px;
background: #F8F8F2;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 40px;
padding-left: 20px;
}

.works__span {
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  font-variant: small-caps;
  color: #333333;
  opacity: 0.8;
 margin-left: 325px;
 margin-bottom: 45px;
}

.works__item__heading{
  font-weight: 500;
font-size: 40px;
line-height: 47px;
font-variant: small-caps;
color: #333333;
margin: 0;
margin-bottom: 10px;
}

.works__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  margin: 0;
}





.footer{
padding-top: 68px;
padding-right: 50px;
padding-bottom: 68px;
padding-left: 50px;
background: #C99B67;
}

.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo__link{
  text-decoration: none;
  }
  
  .footer__logo__img{
  width: 235px;
  height: 24px;
  }

  .footer__app__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .footer__app__item{
    margin-left: 30px;
  }
  .footer__list{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  
  .footer__item{
    margin-left: 40px;
  }
  
  .footer__item__link{
    text-decoration: none;
    font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
  }
  
  .footer__item__link--active{
    margin-left: 0;
  }